library:
  name: "c-ares"
  version: "1.34.5"
  repo_url: "https://github.com/c-ares/c-ares.git"
  language: "c"

# compiler configuration
compiler:
  CC_FUZZ: "afl-clang-fast"
  CXX_FUZZ: "afl-clang-fast++"

headers:           # required, header and source files for API extraction, relative to library root
  - "include/ares.h"
header_include:    # required, header file name for #include in harness prompts
  - "ares.h"
header_folder:     # required, directory containing header files for compilation, relative to library root
  - "include"

source_dirs:       # required，folder or files
  - "include/ares.h"
  - "src/lib"

exclude_dirs:      # optional
  - ""

static_build:      # required
  static_lib_name: "libcares.a"
  output: "src/lib/.libs/{static_lib_name}"
  command: |
    rm -rf c-ares && \
    git clone {repo_url} c-ares && \
    cd c-ares && \
    ./buildconf && \
    CC={CC_FUZZ} ./configure --enable-debug --enable-tests && \
    make clean && \
    make -j$(nproc) V=1 all

shared_build:     # optional
  shared_lib_name: "libcares.so"
  output: "src/lib/.libs/{shared_lib_name}"
  command: |
    rm -rf c-ares && \
    git clone {repo_url} c-ares && \
    cd c-ares && \
    ./buildconf && \
    CC={CC_FUZZ} ./configure --enable-debug --enable-tests --enable-shared && \
    make clean && \
    make -j$(nproc) V=1 all


driver_build:
  compiler:             # 编译器配置 (通常使用AFL++的插桩编译器)
    - "{CC_FUZZ}"        # 示例: afl-clang-fast, afl-gcc
  extra_flags:          # 库特定的编译标志 (预处理器定义、优化选项等)
    - ""   

api_selection:
  api_prefix:      # required
    - "ares_"
  api_macros:           # required
    - "CARES_EXTERN"
  exclude: []         # optional

documentation:       # optional
  target_files:      # optional, specific documentation files to analyze
    - "README.md"
    - "INSTALL.md"

# fuzzing configuration
fuzzing:
  seeds_dir: "/home/shuangxiang/workspace/code/Slicer/tools/driver/configs/c-ares/seeds"  # required, absolute path to seeds directory
  dictionary_file: ""  # optional, absolute path to dictionary file