library:
  name: "cJSON"
  version: "1.7.17"
  repo_url: "https://github.com/DaveGamble/cJSON.git"
  language: "c"

# compiler & sanitizer 
compiler:
  CC_FUZZ: "afl-clang-fast"
  CXX_FUZZ: "afl-clang-fast++"
  CFLAGS_ASAN: "-fsanitize=address,undefined"
  CXXFLAGS_ASAN: "-fsanitize=address,undefined"

headers:           # required, header file name, do not include path
  - "cJSON.h"

source_dirs:       # requiredï¼Œfolder or files
  - "cJSON.h"            
  - "cJSON.c"       

exclude_dirs:      # optional
  - ""

static_build:      # required
  static_lib_name: "libcjson.a"
  output: "cJSON/build/{static_lib_name}"
  command: |
    rm -rf cJSON && \
    git clone {repo_url} cJSON && \
    cd cJSON && \
    mkdir -p build && cd build && \
    CC={CC_FUZZ} cmake .. -DBUILD_SHARED_LIBS=OFF -DENABLE_CJSON_TEST=OFF -DENABLE_CJSON_UTILS=OFF && \
    make -j$(nproc)

shared_build:     # optional
  shared_lib_name: "libcjson.so"
  output: "cJSON/build/{shared_lib_name}"
  command: |
    rm -rf cJSON && \
    git clone {repo_url} cJSON && \
    cd cJSON && \
    mkdir -p build && cd build && \
    CC={CC_FUZZ} cmake .. -DBUILD_SHARED_LIBS=ON -DENABLE_CJSON_TEST=OFF -DENABLE_CJSON_UTILS=OFF && \
    make -j$(nproc)

static_driver_build: |    # required
  {CC_FUZZ} -I. -o {output} {driver} cJSON/build/{static_lib_name} {CFLAGS_ASAN}

shared_driver_build: |    # optional
  {CC_FUZZ} -I. -o {output} {driver} cJSON/build/{shared_lib_name} {CFLAGS_ASAN}

api_selection:
  include_prefix:      # required
    - "cJSON_"
  keywords:           # required
    - "CJSON_PUBLIC"
  exclude: []         # optional